/***************************************************************************************
*******************************  IMPORTS AND FONTS  ************************************
***************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

@font-face {
  font-family: 'Prototype';
  src: url('./Assets/Prototype.ttf') format('truetype');
}


/***************************************************************************************
*******************************  ROOT & GLOBAL STYLES  *********************************
***************************************************************************************/

:root {
  /* Fonts */
  --font-primary: 'Lexend', sans-serif;
  --font-secondary: 'GFS Didot', serif;

  /* Colors */
  --color-primary: #132e8a;
  --color-secondary: #333333;
  --color-third: rgba(247, 231, 221, 1);

  /* Backgrounds & hover */
  --color-arrow: lightcoral;
}

h1, h2, h3, h4, h5, h6, p, span, i {
  font-family: var(--font-primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {

}
body {
  width: 100%;
  min-height: 100vh; /* viewport height image */

  /* scroll vertical */
  overflow-x: hidden;
  overflow-y: scroll;
}

section {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
}


/***************************************************************************************
**********************************  NAVBAR SECTION  ************************************
***************************************************************************************/

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 10px 10px 10px;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  margin-right: 10px;
  padding-top: 18px;
}

nav ul li {
  display: inline;
  margin: 10px;
  background: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 0px grey;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  font-family: 'Lexend', sans-serif;
}

nav ul li:hover {
  background: #F5EDE5;
}

nav ul li:active {
  transform: translateY(3px);
  box-shadow: none;
  background-color: #F5EDE5;
}


nav ul li a {
  color: black;
  text-decoration: none;

}

.menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0s ease 0.6s;
}

.menu.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

/*  Tablet View */
/* Viewport: 1024x1366 Screen size: 12.9" Monitor size: 15.4" ipad pro */
/* Viewport: 768x1024 Screen size: 7.9" Monitor size: 15.4" ipad mini */


@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav ul.menu {
    display: block;
    margin-top: 35px;
    margin-right: -51px;
  }

  nav ul li {
    display: block;
    text-align: center;
  }
}

/***************************************************************************************
************************************  HOME SECTION  ************************************
***************************************************************************************/



#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(95deg,
      #138a39 -70%,
      var(--color-primary) 50%,
      var(--color-third) 50%,
      var(--color-third) 100%);
}

.slider-wrapper {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.slider {
  height: 80px;
/*   padding-left: 20px; */
  overflow: hidden;
  text-align: center;
}

.slider div {
 align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 80px;
  padding: 2px 20px;
  box-sizing: border-box;
}
.slider div span {
    display: inline-block;
    height: 100%;
}

.slider-text1 {
  background: lightgreen;
  animation: slide 6s linear infinite;
}

.slider-text2 {
  background: skyblue;
}

.slider-text3 {
  background: lightcoral;
}

/*  slider text media  */

@media (max-width: 768px) {
  .slider-wrapper {
    font-size: 30px;
  }
   .slider div span {
    margin-top: 20px;
}
}
@keyframes slide {
  0% {
    margin-top: -480px;
  }

  5% {
    margin-top: -320px;
  }

  33% {
    margin-top: -320px;
  }

  38% {
    margin-top: -160px;
  }

  66% {
    margin-top: -160px;
  }

  71% {
    margin-top: 0px;
  }

  100% {
    margin-top: 0px;
  }
} 

/* @media (max-width: 900px) {
  .slider-wrapper {
    font-size: 5vw;
  }

  .slider div {
    padding: 2px 10px;
  }
} */


#home img {
  width: 40vw;
  min-height: 60vh;
  position: absolute;
  z-index: 0;
  top: 70px;
  left: 15px
}

/* @media (max-width: 1000px) {
  #home img {
    width: 29vw;
    height: 64vh;
    position: absolute;
    z-index: 0;
    top: 67px;
    left: 67px;
  }
} */
#home .title-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding-top: 150px;
  font-size: 10vw;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  letter-spacing: 1px;
}

#home h2 {
  font-size: 80px;
}

#home .title-home .YP{
  color: var(--color-third);
  margin-right: 5px;
}

#home .title-home p {
  color: var(--color-primary);
  font-size: 25px;
  text-align: right;
  width: 100%;
  background-color: var(--color-primary);
  padding: 5px;
  border-radius: 10px;
  transition: background-color 2s ease-out;
}

#home .title-home p:hover {
  background-color: rgba(48, 108, 247, 0.8);
}

/* #home .subtitle-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
 */

#home .list {
  font-family: var(--font-secondary);
  margin-top: 75px;
  display: flex;
  color: var(--color-primary);
  font-size: 20px;
}

#home .list span {
  color: rgba(247, 231, 221, 1);
}

#home .list li {
  padding: 30px;
  width: 200px;
  text-align: center;
}

/* Scroll Arrow */
.scroll-arrow-home {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.scroll-arrow-home a {
  display: block;
  font-size: 44px;
  color: var(--color-primary);
  transition: all 0.3s ease;
}

.scroll-arrow-home a:hover {
  color: var(--color-arrow);
}


/***************************************************************************************
***********************************  JUNIOR SECTION  ***********************************
***************************************************************************************/

/* Grid Container */
#junior {
  position: relative;
  /* display: grid; */
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 60px 0;
  background:
    linear-gradient(85deg,
      #138a39 -70%,
      var(--color-primary) 50%,
      var(--color-third) 50%,
      var(--color-third) 100%);
}

/* Counters Section */
.counters {
  grid-area: 1 / 1 / 2 / 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 10px solid #d9e3ed;
  margin: 40px;
}


/* Mobile View */
/* Viewport: 375x812 Screen size: 5.8" Monitor size: 15.4" */

@media (max-width: 768px) {
  #junior {
    display: block;
  }

  .counters {
    padding: 0;
    margin: 0 40px 0 40px;
    font-size: ;
  }

  span.counter-number-left {
    font-size: 4.4vw;
  }

  .column {
    width: 100%;
  }

  .column .typing-effect {
    display: flex;
    margin: 20px 0 0 0;
    font-size: 7.6vw;
    ;
    bo
  }

  .column .typing-effect span {
    margin: 5px;
  }

  .column .typing-effect-2 {
    font-size: 5vw;
  }

  .column.right-column p {
    font-size: 3.3vw;
    margin-right: 10px;
  }
}

/* Counter Item */
.counter-item {
  display: flex;
  font-family: var(--font-secondary);
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.counter-number-left,
.counter-number-right {
  font-size: 2.4vw;
  font-weight: 700;
}

.counter-number-left {
  color: var(--color-third);
}

.counter-number-right {
  color: var(--color-primary);
}

.counter-label-left,
.counter-label-right {
  font-size: 1vw;
  margin-top: 10px;
}

.counter-label-left {
  color: var(--color-third);
}

.counter-label-right {
  color: var(--color-primary);
}


/* Left Column */
.column {
  grid-area: 2 / 1 / 6 / 3;
  padding: 0 45px;
}

/* Logo Center Column */
.column-logo-junior {
  grid-area: 2 / 3 / 6 / 5;
}

/* Right Column */
.right-column {
  grid-area: 2 / 5 / 6 / 7;
  padding: 0 45px;
}

.column, .right-column {
  flex: 1;
  padding: 0 45px;
}

.typing-effect {
  font-family: var(--font-secondary);
  color: var(--color-third);
  font-size: 5.6vw;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: left;
}

.typing-effect-2 {
  font-family: var(--font-secondary);
  color: var(--color-third);
  font-size: 2vw;
}

.right-column p {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-size: 1.3vw;
  line-height: 1.8;
  text-align: justify;
  margin-right: 30px;
  margin-top: 10px;
}

/* Logo Image */
.logo-junior {
  width: 50%;
  height: 890px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

/* Scroll Arrow */
.scroll-arrow-junior {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.scroll-arrow-junior a {
  display: block;
  font-size: 44px;
  color: var(--color-third);
  transition: all 0.3s ease;
}

.scroll-arrow-junior a:hover {
  color: var(--color-arrow);
}


/***************************************************************************************
**********************************  SERVICES SECTION ***********************************
***************************************************************************************/

/* Services Main Container */
#services {
  height: auto;
  position: relative;
  padding: 60px;
  background:
    linear-gradient(95deg,
      #138a39 -70%,
      var(--color-primary) 50%,
      var(--color-third) 50%,
      var(--color-third) 100%);
}

/* Section Title & Logo */
.section_title h2 {
  font-family: var(--font-secondary);
  color: var(--color-third);
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 4px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 1px 1px 4px var(--color-primary), 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.brand_border {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand_border .left-line {
  content: "";
  display: block;
  height: 3px;
  width: 30%;
  background: var(--color-third);
}

.brand_border .right-line {
  content: "";
  display: block;
  height: 3px;
  width: 30%;
  background: var(--color-primary);
}

.logo-service {
  width: 200px;
  height: 200px;

}

.section_title p {
  color: var(--color-third);
  font-family: var(--font-secondary);
  font-size: 1.9em;
  line-height: 1.3em;
  padding: 5px 15%;
  text-align: justify;
  margin-top: 10px;
  text-shadow: 1px 1px 5px var(--color-primary), 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Service Cards */
.services-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 90px;
}

.service {
  margin: 20px 30px;
  overflow: hidden;
  background-color: var(--color-third);
  padding: 35px 15px 70px 15px;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-in,
    transform .3s ease-in;
  width: 300px;
  border: 3px solid var(--color-primary);
  transform: rotate(-5deg);
  border-radius: 10px;
}

/* Service style in even-numbered position for reverse rotation */
.service:nth-child(even) {
  transform: rotate(5deg);
}

.service:hover {
  background-color: var(--color-primary);
  transform: translateY(-10px) rotate(0deg);
  border: 3px solid var(--color-third);
}

.service:hover::before {
  right: 0;
  top: 0;
}

.service>i {
  display: block;
  color: var(--color-primary);
  font-size: 4rem;
  margin-bottom: 0.9rem;
  transition: color 0.3s ease-out;
}

.service>.title-card {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.56rem;
  margin-bottom: 2.5rem;
  text-transform: capitalize;
  transition: color 0.3s ease-out;
}

.service>.description {
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  transition: color 0.3s ease-out;
}

.service:hover>i,
.service:hover>.title-card,
.service:hover>.description {
  color: var(--color-third);
}

/* Scroll Arrow */
.scroll-arrow-services {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.scroll-arrow-services a {
  font-size: 44px;
  color: var(--color-primary);
  transition: color 0.3s;
}

.scroll-arrow-services a:hover {
  color: var(--color-arrow);
}


/***************************************************************************************
***********************************  TEAM SECTION  *************************************
***************************************************************************************/

/* Team Section */
#team {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  background:
    linear-gradient(85deg,
      #138a39 -70%,
      var(--color-primary) 50%,
      var(--color-third) 50%,
      var(--color-third) 100%);
}

.team-title {
  font-family: var(--font-secondary);
  color: var(--color-third);
  text-align: center;
  font-size: 65px;
  font-weight: 900;
  margin-top: 50px;
  text-shadow: 1px 1px 4px var(--color-primary), 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.team-title2 {
  text-align: center;
  z-index: 2;
  margin-top: 50px;
  font-size: 65px;
  color: var(--color-third);
  text-shadow: 1px 1px 4px var(--color-primary), 1px 1px 1px rgba(0, 0, 0, 0.2);
}


/* Background Logo */
.bg-logo {
  position: absolute;
  top: 40%;
  left: 90%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  width: 200vh;
}

/* Main Card */
.card {
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  top: 59%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 33vw;
  padding: 25px 25px 25px 25px;
  background-color: var(--color-third);
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2), inset 5px 5px 10px rgba(0, 0, 0, 0.2);
  font-family: var(--font-secondary);
  color: var(--color-primary);
  text-align: center;
  border-radius: 10px;
  z-index: 2;
  display: none;
  font-size: 0.8vw;
}

.card2 {
  position: absolute;
  top: 59%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 33vw;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px rgba(234, 230, 230, 0.2), inset -5px -5px 10px rgba(170, 163, 163, 0.2);
}

.card h2 {
  font-size: 1.7em;
  font-family: var(--font-secondary);
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.card p {
  font-size: 1.2em;
  margin-bottom: 5px;
  font-family: var(--font-secondary);
  color: var(--color-primary);
  text-align: justify;
  padding: 0px 10px 0px 10px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.3;
}

/* Team Image in Card */
.card .img-team {
  width: 45%;
  height: 0;
  padding-bottom: 45%;
  border-radius: 50%;
  background-size: cover;
  background-position: center -5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--color-primary) 0px 0px 10px;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 42px;
}

.social-icons i {
  font-size: 50px;
  transition: transform 0.3s ease;
  color: var(--color-secondary);
}

.social-icons i:hover {
  transform: scale(1.2);
}

/* Close Button */
.close-btn {
  position: absolute;
  top: -10px;
  right: 2px;
  font-size: 34px;
  cursor: pointer;
  padding: 5px;
}

/* Bubble Container */
.bubble-container {
  position: relative;
  display: flex;
  float: right;
  width: 67%;
  height: 70vh;
  margin: 15px 0px 0px 0px;
  overflow: hidden;
}

/* Individual Member Bubbles */
.bubble {
  position: absolute;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  border-radius: 50%;
  background-size: cover;
  background-position: center -5px;
  animation: none;
  border: 1px solid var(--color-primary);
}

.bubble:hover {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px 5px rgba(31, 31, 233, 0.5);
  }

  50% {
    box-shadow: 0 0 20px 10px rgba(38, 73, 168, 0.75);
  }

  100% {
    box-shadow: 0 0 15px 5px rgba(109, 157, 230, 0.5);
  }
}

/* Scroll Arrow */
.scroll-arrow-team {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.scroll-arrow-team a {
  display: block;
  font-size: 44px;
  color: var(--color-third);
  transition: all 0.3s ease;
}

.scroll-arrow-team a:hover {
  color: var(--color-arrow);
}


/***************************************************************************************
********************************  PARTENAIRES SECTION  *********************************
***************************************************************************************/

/* Partenaire Section */
#partenaire {
  padding-top: 60px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background:
    linear-gradient(95deg,
      #138a39 -70%,
      var(--color-primary) 50%,
      var(--color-third) 50%,
      var(--color-third) 100%);
}

/* Partenaire Titles */
#partenaire h2, #partenaire h3 {
  color: var(--color-primary);
  position: relative;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

#partenaire h2 {
  font-family: var(--font-secondary);
  font-size: 5.6vw;
  color: var(--color-third);
  text-shadow: 1px 1px 4px var(--color-primary), 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#partenaire h3 {
  font-size: 40px;
  z-index: 2;
  margin-bottom: 100px;
  color: var(--color-third);
  text-shadow: 1px 1px 4px var(--color-primary), 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Partenaire Title Line */
#partenaire h2:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 5px;
  background-color: #eae5d5;

}

/* Group of Partner Logos/Images */
.group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Individual Partner Item */
.item-partner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  height: 14vw;
  box-shadow: 0 0 15px var(--color-primary);
  margin: 3vw;
  border-radius: 2vw;
  cursor: pointer;
  padding: 1vw 2vw;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.item-partner2 {
  box-shadow: 0 0 15px var(--color-third);
}

.item-partner:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--color-primary);
  background-color: #ffffff;
}

.item-partner2:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--color-third);
  background-color: #ffffff;
}

/* Partner Item Background */
.item-bg {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
}

.item-partner:hover .item-bg {
  transform: scale(1.25);
}

/* Partner Link */
.partner-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}


/* Collaboration Quote and paragraph */
.quote {
  font-family: var(--font-secondary);
  color: var(--color-third);
  font-size: 33px;
  max-width: 1000px;
  margin: -100px auto 0;
  line-height: 1.6;
  position: relative;
  padding: 50px;
  text-shadow: 1px 1px 4px var(--color-primary), 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.quote::before {
  content: "“";
  font-size: 100px;
  position: absolute;
  color: var(--color-third);
  z-index: 1;
  opacity: 0.1;
}

.quote::after {
  content: "“";
  font-size: 100px;
  position: absolute;
  color: var(--color-primary);
  z-index: 1;
  opacity: 0.1;
}

.quote::before {
  bottom: -200%;
  left: -140px;
  font-size: 500px;
}

.quote::after {
  content: "”";
  right: -140px;
  top: -150px;
  font-size: 500px;
}

/* Scroll Arrow */
.scroll-arrow-part {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.scroll-arrow-part a {
  display: block;
  font-size: 44px;
  color: var(--color-primary);
  transition: all 0.3s ease;
}

.scroll-arrow-part a:hover {
  color: var(--color-arrow);
}

/***************************************************************************************
*********************************  PORTFOLIO SECTION  **********************************
***************************************************************************************/

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  padding-top: 60px;
  position: relative;
  background:
    linear-gradient(85deg,
      #138a39 -70%,
      var(--color-primary) 50%,
      var(--color-third) 50%,
      var(--color-third) 100%);
}

/* Title and Subtitle */
.portfolio-title {
  transform: translate(-50%);
  padding: 10px;
  font-size: 80px;
  font-family: var(--font-secondary);
  color: var(--color-third);
  margin-right: 15%;
  margin-bottom: 30px;
}

.portfolio-subtitle {
  width: 59%;
  padding: 10px;
  text-align: justify;
  color: var(--color-third);
  transform: translate(100px);
  text-shadow: 1px 1px 4px var(--color-primary), 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.9em;
}

/* Main Container of the Portfolio */
.portfolio-box {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: -20px;
}

/* Portfolio Slider */
.portfolio-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* General Elements of the Portfolio */
.portfolio-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  text-align: justify;
  justify-content: space-around;
  border-radius: 50%;
  padding: 20px;
  left: calc(55% - 370px);
  top: 10%;
  transition: 0.8s ease;
  background-size: cover;
  overflow: visible;
}

.portfolio-item1 {
  background-image: url(./Assets/portfolio_pictures/web-design.jpg);
}

.portfolio-item2 {
  background-image: url(./Assets/portfolio_pictures/portfolio_actual.jpg);
}

.portfolio-item3 {
  background-image: url(./Assets/portfolio_pictures/background-dashboard.jpg);
}

.portfolio-item:hover {
  background-color: rgba(48, 108, 247, 0.8);
  background-image: none;
  transition: none;
}

/* Content of the elements of the portfolio */
.portfolio-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: visible;
}

/* Title of the elements of the portfolio */
.portfolio-item-title {
  position: absolute;
  flex-direction: row;
  align-items: center;
  color: var(--color-third);
  top: 0;
  right: 50px;
  font-size: 40px;
  display: none;
}

.portfolio-item:hover .portfolio-item-title {
  right: 200px;
  display: flex;
}

.portfolio-item-title h3 {
  font-family: var(--font-secondary);
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 30px;
  color: var(--color-third);
  text-shadow: 1px 1px 4px var(--color-primary), 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.portfolio-item-title img {
  margin-right: 10px;
}

/* Text of the elements of the portfolio */
.portfolio-item-text {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  border-radius: 10px;
  color: var(--color-third);
  width: 75%;
  visibility: hidden;
  font-size: 19px;
}

.portfolio-item:hover .portfolio-item-text {
  visibility: visible;
}

.portfolio-item-text p {
  padding: 10px;
}

.portfolio-item a {
  margin-top: 30px;
  text-decoration: underline;
  color: var(--color-third);
  font-size: 15px;
}

/* Slider navigation arrows */
.portfolio-direction_arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  background-color: var(--color-third);
  width: 50px;
  height: 50px;
  font-size: 2rem;
  transition: 0.4s ease;
  border: none;
}

.portfolio-direction_arrows:hover {
  color: var(--color-third);
  background-color: var(--color-primary);
  width: 62px;
  height: 62px;
  font-size: 2.1rem;
  border: 1px solid var(--color-third);
}

#portfolio-next, #portfolio-prev {
  position: absolute;
  top: 40%;
  border-radius: 50%;
  left: 2%;
}

#portfolio-next {
  left: unset;
  right: 50px;
}

/* Scroll arrow to navigate to the next section */
.scroll-arrow-portfolio {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.scroll-arrow-portfolio a {
  display: block;
  font-size: 44px;
  color: var(--color-third);
  transition: all 0.3s ease;
}

.scroll-arrow-portfolio a:hover {
  color: var(--color-arrow);
}


/***************************************************************************************
***********************************  CONTACT SECTION  **********************************
***************************************************************************************/

/* Contact Main Container */
#contact {
  color: var(--color-primary);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 5%;
  background:
    linear-gradient(95deg,
      #138a39 -70%,
      var(--color-primary) 50%,
      var(--color-third) 50%,
      var(--color-third) 100%);
}

/* Content Wrapper */
.content-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 230px;
}

/* === LEFT CONTENT === */

.left-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

/* Logo */
.logo-contact {
  width: 20vw;
  margin-bottom: 40px;
}

/* Title */
.left-content h1 {
  font-family: var(--font-secondary);
  color: var(--color-third);
  font-size: 3em;
  font-weight: 600;
  max-width: 90%;
  margin-bottom: 50px;
  text-align: center;
}

/* Buttons style */
.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.button-container .button {
  background-color: transparent;
  border: 1px dashed var(--color-third);
  padding: 15px 25px;
  text-align: center;
  color: var(--color-third);
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.5em;
  width: 242px;
}

.button-container .button.active,
.button:hover {
  background-color: var(--color-third);
  color: var(--color-primary);
}

/* === RIGHT CONTENT === */

.right-content {
  flex: 1.5;
  max-width: 60%;
}

/* Title */
.right-content h2 {
  font-size: 4.5em;
  margin-bottom: 80px;
  font-family: var(--font-secondary);
}

/* Input Fields Styles */
.input-group {
  margin-bottom: 50px;
}

#contact label {
  display: block;
  margin-bottom: 15px;
  font-family: var(--font-secondary);
  font-size: 1.2em;
}

#contact input,
#contact textarea {
  padding: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  font-size: 1em;
}

#contact input {
  width: 80%;
  height: 50px;
}

#contact textarea {
  width: 80%;
  height: 200px;
  resize: vertical;
}

/* Submit Button Styles */
.submit-container {
  text-align: right;
}

#contact button[type="submit"] {
  display: flex;
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

#contact button[type="submit"]:hover {
  background-color: var(--color-third);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}


/***************************************************************************************
***********************************  FOOTER SECTION  **********************************
***************************************************************************************/


.site-footer {
  background-color: var(--color-primary);
  color: var(--color-third);
  padding: 30px 0;
  min-width: 1250px;
  color: var(--color-third);
}

.site-footer a {
  text-decoration: none;
  color: var(var(--color-third));
}

.site-footer h3 {
  margin-top: 0;
  font-size: 25px;
}

.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.footer-widgets {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.footer_widget {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_widget-about {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer_widget-about img {
  width: 200px;
  height: 200px;
}

.footer_widget-about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
  height: 100%;
}

.footer_widget-about-title {
  line-height: 25px;
}

.footer_widget-about-title h3 {
  width: 350px;
}

.footer_widget-about-title p {
  text-align: right;
}

.footer_widget-about button {
  margin-top: 10px;
  height: 50px;
  border-radius: 15px;
  background-color: var(--color-third);
  font-family: var(--font-secondary);
  font-size: 0.8rem;
  padding: 10px;
}

.footer_widget-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_widget-map a {
  color: var(--color-third);
  font-size: 1rem;
}

.footer_widget-map ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  line-height: 40px;
}

.footer_widget-map ul a:hover {
  text-decoration: underline;
}

.footer_widget-map1 {
  border-right: 1px var(--color-third) solid;
}

.footer_widget-social {
  flex-direction: column;
}

.footer_social-icons {
  margin-top: 2rem;
  display: flex;
}

.footer_social-icons .fab {
  color: var(--color-third);
  padding: 0;
  margin: 0;
  display: flex;
}

.footer_social-icons li {
  margin-right: 10px;
  list-style: none;
}

.footer_social-icons a {
  color: var(--color-third);
  font-size: 40px;
  text-decoration: none;
}

footer_social-icons a:visited {
  color: var(--color-third);
}

.footer-bottom {
  text-align: center;
  padding-top: 0px;
  border-top: 1px solid var(var(--color-third));
}

.g-recaptcha {
  display: block;
  margin: 100px;
  /* Adjust the margin as needed for spacing */
}